{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="blog" class="container">
    <div class="row">
        <aside class="col-sm-4 col-sm-push-8">
            <div class="widget search">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button"><i class="icon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div><!--/.search-->

            <div class="widget ads">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#"><img class="img-responsive img-rounded" src="images/ads/ad1.png" alt=""></a>
                    </div>

                    <div class="col-xs-6">
                        <a href="#"><img class="img-responsive img-rounded" src="images/ads/ad2.png" alt=""></a>
                    </div>
                </div>
                <p> </p>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#"><img class="img-responsive img-rounded" src="images/ads/ad3.png" alt=""></a>
                    </div>

                    <div class="col-xs-6">
                        <a href="#"><img class="img-responsive img-rounded" src="images/ads/ad4.png" alt=""></a>
                    </div>
                </div>
            </div><!--/.ads-->     

            <!--/.categories-->
            <!--/.tags-->

           
        </aside>
              
        <div class="col-sm-8 col-sm-pull-4">
            <div class="blog">
                {% for pray in pray %}  
                <div class="blog-item">
                    <div class="row">
                        <div class="col-md-3">
                    <img class="img-responsive img-blog " src="{{ pray.img.url }}"  alt="" />
                </div>
            </div>
                    <div class="blog-content">
                        <a href="blog-item.html"><h3>{{pray.English_Prayer}}</h3></a>
                        <div class="entry-meta">
                            <span><i class="icon-user"></i> <a href="#">{{pray.Book}}</a></span>
                            <span><i class="icon-folder-close"></i> <a href="#">Posted by &nbsp;{{pray.Posted_by}}</a></span>
                            <span><i class="icon-calendar"></i> {{pray.Date_Created}}</span>
                            <span><i class="icon-comment"></i> <a href="#">3 Comments</a></span>
                        </div>
                        <p>{{pray.Adhola_Prayer}}&nbsp;({{pray.Book}})</p>
                        <a class="btn btn-default" href="{% url 'detail' pray.slug %}">Read More <i class="icon-angle-right"></i></a>
                    </div>
                </div>
                {% endfor %}
                <!--/.blog-item-->
               <!--/.blog-item-->
                <ul class="pagination pagination-lg">
                    <li><a href="#"><i class="icon-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="icon-angle-right"></i></a></li>
                </ul><!--/.pagination-->
                <div class="tags">
                    <i class="icon-tags"></i> Tagsx <a class="btn btn-xs btn-primary" href="#">CSS3</a> <a class="btn btn-xs btn-primary" href="#">HTML5</a> <a class="btn btn-xs btn-primary" href="#">WordPress</a> <a class="btn btn-xs btn-primary" href="#">Joomla</a>
                </div>
                
                <p>&nbsp;</p>
                
                <div class="author well">
                    <div class="media">
                        <div class="pull-left">
                            <img class="avatar img-thumbnail" src="{% static 'images/blog/avatar.jpg' %} " alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <strong>John Doe</strong>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                        </div>
                    </div>
                </div><!--/.author-->
                
                <div id="comments">
                    <div id="comments-list">
                        <h3>3 Comments</h3>
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar img-circle" src="{% static 'images/blog/avatar1.png' %} " alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <strong>John Doe</strong>&nbsp; <small>27 Aug 2013</small>
                                        <a class="pull-right" href="#"><i class="icon-repeat"></i> Reply</a>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar img-circle" src="{% static 'images/blog/avatar3.png' %} " alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <strong>John Doe</strong>&nbsp; <small>27 Aug 2013</small>
                                                <a class="pull-right" href="#"><i class="icon-repeat"></i> Reply</a>
                                            </div>
                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                                        </div>
                                    </div>
                                </div><!--/.media-->
                            </div>
                        </div><!--/.media-->
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar img-circle" src="{% static 'images/blog/avatar2.png' %} " alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <strong>John Doe</strong>&nbsp; <small>27 Aug 2013</small>
                                        <a class="pull-right" href="#"><i class="icon-repeat"></i> Reply</a>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                </div>
                            </div>
                        </div><!--/.media-->
                    </div><!--/#comments-list-->  
                
                    <div id="comment-form">
                        <h3>Leave a comment</h3>
                        <form class="form-horizontal" role="form" action="coment" method="POST">
                            {% csrf_token %}
                              <!-- {% include 'detail/form-template.html' %} -->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea rows="8" class="form-control" placeholder="Comment"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger btn-lg">Submit Comment</button>
                        </form>
                    </div><!--/#comment-form-->
                </div><!--/#comments-->
                
            </div>
        </div>
        
        <!--/.col-md-8-->
    </div><!--/.row-->
</section><!--/#blog-->

<section id="bottom" class="wet-asphalt">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>About Us</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                <p>Pellentesque habitant morbi tristique senectus.</p>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">The Company</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Conatct Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Latest Blog</h4>
                <div>
                    <div class="media">
                        <div class="pull-left">
                            <img src="{% static 'images/blog/thumb1.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                            <small class="muted">Posted 17 Aug 2013</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <img src="{% static 'images/blog/thumb2.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                            <small class="muted">Posted 13 Sep 2013</small>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <img src="{% static 'images/blog/thumb3.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                            <small class="muted">Posted 11 Jul 2013</small>
                        </div>
                    </div>
                </div>  
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Address</h4>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890000
                </address>
                <h4>Newsletter</h4>
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div> <!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

{% endblock content %}